h1 {
    background-color: aliceblue;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

#p-1 {
    background-color: rgb(248, 232, 5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#p-2 {
    background-color: rgb(252, 45, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p-3 {
    background-color: rgb(17, 19, 20);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}#p-4 {
    background-color: rgb(173, 42, 199);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}